.noItems {
    font-family: 'Martel Sans', sans-serif;
    font-size: 3em;
    display:inline-block;
}

.iContainer{
   
    padding:1em;
    margin-top:2%;
    margin-bottom:3%;
}

.emptyContainer{
    display:flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding:2em;
    margin-top: 5%;
    margin-bottom: 12.5%
}

.btns{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
