.noItems {
    font-family: 'Martel Sans', sans-serif;
    font-size: 3em;
    display:inline-block;
}

.iContainer{
   

    padding:1em;
    margin:0;
}

.emptyContainer{
    display:flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding:2em;
    margin: 1em;
}

.btns{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
