.card{  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 15rem;
    max-height: 25rem;
    transition: 0.3s;
    width: 100%;
    
}


.detail {
    margin-bottom: 10%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}




.card  img {
    width:100%;
    height:100%;
    height: 12em;
    width: 14em;

}

.card-body{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

