.btnCount{
    border-radius: 100%;

}

.itemCount{
    display:flex;
    align-items:center;
    flex-flow: column wrap;
    margin: 1em;
    justify-content: center;
}

.count{
    width:100%;


}

.greeting{
    display: flex;
    font-size: xx-large;
    justify-content: center;
    font-family: cursive;
}
