.btnCount{
    border-radius: 100%;

}
.card{  
    max-width: 15rem;
    max-height: 25rem;
    align-items: center;
   
    

}
.itemCount{
    display:flex;
    align-items:center;
    flex-flow: column wrap;
    margin: 1em;
    justify-content: center;
}

.count{
    width:100%;


}

.cardDeck{ 
    padding: 1em;
    margin: auto;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

}


img {
    max-height: 11em;
}